
/* styles */


@font-face {
    font-family: ubuntu;
    src: url("Ubuntu-Bold.ttf");
}

@font-face {
    font-family: ubuntun;
    src: url("Ubuntu-Regular.ttf");
}

@font-face {
    font-family: lora;
    src: url("Lora-VariableFont_wght.ttf");
}



html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
    /* overflow-x: hidden; */
}

*{
    box-sizing: border-box;
    font-size: 18px;
    font-family: ubuntun;
    color: rgb(0, 0, 0);
}

p{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

/* ---------------------------------------- */
/*  */
nav{
    position: fixed;
    /* top: 0; */
    width: 100%;
    background-color: #e94822;
    background-color: #FF9A00;
    background-color: rgb(255,201,157);
    background-color: #FAF9F6;

    background-color: #CFD6DC;
    /* background-color: #040c21; */

    /* #708090 */
    
    z-index: 100;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 1px 0px 3px grey; */
    opacity: 0.98;
    
    
}

.first{
    /* flex: 1 1 0; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    color: #FAF9F6;
}

nav div:nth-child(1){
    /* flex-shrink: 1; */
}

nav h4{
    padding: 1rem 1rem 1rem 3rem;
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    /* color: #e94822; */
    color: #1d4165;
}

#navbar{
    display: flex;
}

#navbar div{
    padding: 1rem;
    flex-grow: 1;
}


nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    color: #1d4165;
}





nav div div:hover{
    scale: 1.05;
}


/* nav dropdown once screen is smaller */
/* ---------------------------------------------------------- */
#smalldropdown{
    display: none;
}

.dropdown{
    display: none;
    position: absolute;
    width: 100%;
}

.menuicon{
    padding: 1rem;
}

.menuicon:hover{
    background-color: #c8c8c8;
    cursor: pointer;
}

.navbar:hover .dropdown{
    display: block;
    background-color: #1d4165;
}
/* ------------------------------------------------------------------ */


/* Start Page */
/* -------------------------------------- */
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.introdiv{
    /* background-color: #0E1A24; */
    background-color:#d6e7f7;
    background: linear-gradient(180deg,#CFD6DC 30%, #fffffe 60%);
    height: 110vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: start;
    align-items: center;
    padding-top: 3rem;
    position: relative;
}

.introinnerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0rem 1rem 1rem 5rem;
}

/* ------------------------------------------- */
/* CIRCLES for styles */
.circle-shapes{
    background-color: #454545;
    /* clip-path: circle(5rem at right center); */
    
    background: linear-gradient(#fffffe,#c9ddf1);
    
    box-shadow: 5px 5px 15px #b8b8bb inset;
    border-radius: 50%;
    z-index: 9;
    opacity: 0.7;
    box-shadow: 1px 1px 25px #c7d2dc inset;

    
}

#first-circle{
    width: 48vw;
    height: 48vw;
    position: absolute;
    top:10%;
    right:-2%;
    border: 2px rgb(157, 162, 170) solid inset;
    background: linear-gradient(#fffffe,#1d4165);
    background: linear-gradient(215deg, #fffffe,#1d4165 80%);

    /* background: linear-gradient(#e9e9e7,#1d4165); */
    z-index: 7;
    scale: 1.0;
    opacity: 1;
    overflow-y: visible;
}

#inside-first{
    width: 2vw;
    height: 4vw;
    position: absolute;
    top:15%;
    right:30%;
    border: 2px rgb(157, 162, 170) solid inset;
    background: linear-gradient(#ffffff,#f2f9ff);
    z-index: 8;
    border-radius: 50%;
    opacity: 0.15;
    transform: rotate(-50deg);
    box-shadow: 3px 5px 25px rgb(243, 234, 234);
}

#inside-second{
    width: 1vw;
    height: 3vw;
    position: absolute;
    top:13%;
    right:28%;
    border: 2px rgb(157, 162, 170) solid inset;
    background: linear-gradient(#ffffff,#cedce8);
    z-index: 8;
    border-radius: 50%;
    opacity: 0.15;
    transform: rotate(-50deg);
    box-shadow: 3px 5px 25px rgb(243, 234, 234);

}

#inside-third{
    width: 4vw;
    height: 4vw;
    position: absolute;
    top:10%;
    right:9%;
    border: 2px rgb(157, 162, 170) solid inset;
    background: linear-gradient(#fffffe,#1d4165);
    background: linear-gradient(240deg, #fffffe,#1d4165 75%);


    z-index: 8;
    border-radius: 50%;
    opacity: 1;
    /* transform: rotate(-50deg); */
    box-shadow: 1px 1px 25px #c7d2dc inset;



}

#first-circle::before{
    content: "";
    box-shadow: 10px 10px 10px rgb(227, 85, 85);
    background-color: purple;
}

/* -------------- */
#second-circle{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 63%;
    right: 35%;
    border: 2px rgb(157, 162, 170) solid inset;
   
    background: linear-gradient(215deg, #fffffe,#1d4165 85%);
    opacity: 1;
    z-index: 9;
    scale: 1.0;
}

 


/* -------------------- */

#third-circle{
    width: 14vw;
    height: 14vw;
    position: absolute;
    top:60%;
    right:-2%;
    border: 2px rgb(157, 162, 170) solid inset;
    
    background: linear-gradient(180deg, #fffffe,#1d4165 85%);
    opacity: 1;
    scale: 1.0;
    z-index: 10;


}


#fifth-circle{
    width: 7vw;
    height: 7vw;
    position: absolute;
    top:50%;
    right:-2%;
    border: 2px rgb(157, 162, 170) solid inset;
    
    background: linear-gradient(185deg, #fffffe,#1d4165 70%);
    opacity: 1;
    z-index: 11;
    scale: 1.0;

    
}
#sixth-circle{
    width: 9vw;
    height: 9vw;
    position: absolute;
    top: 20%;
    left:50%;
    border: 2px rgb(157, 162, 170) solid inset;
    opacity: 1;
    background: linear-gradient(240deg, #fffffe,#1d4165 90%);
    z-index:12;

    scale: 1.0;


}
#seventh-circle{
    width: 7vw;
    height: 7vw;
    position: absolute;
    top:13%;
    left:25%;
    border: 2px rgb(157, 162, 170) solid inset;
    
    background: linear-gradient(185deg, #fffffe,#1d4165 70%);
    opacity: 0;
    z-index: 11;
    scale: 1.0;
}

#eigth-circle{
    width: 10vw;
    height: 10vw;
    position: absolute;
    
    border: 2px rgb(157, 162, 170) solid inset;
    
    background: linear-gradient(185deg, #fffffe,#1d4165 70%);
    opacity: 0;
    z-index: 11;
    scale: 1.0;
}

/* main section circles */


/* ------------------------------------------------- */
/* CIRCLE END */

/* bubble UP animation DIVS */
/* --------------------- */

/* .float-circles{
    background: linear-gradient(#fffffe,#c9ddf1);
    box-shadow: 5px 5px 15px #b8b8bb inset;
    border-radius: 50%;
    z-index: 9;
    opacity: 0.7;
    box-shadow: 1px 1px 25px #c7d2dc inset;
    background: linear-gradient(180deg, #fffffe,#145faa 70%);


    
}

#first-float{

    width: 0.5vw;
    height: 0.5vw;
    position: absolute;
    bottom: 0%;
    right:3%;
    border: 2px rgb(157, 162, 170) solid inset;
    box-shadow: 2px -9px 8px #cac4bd inset;
    box-shadow: 1px 1px 5px #1c4e81;
    background: linear-gradient(180deg, #fffffe,#1d4165 30%);
    background: linear-gradient(180deg, #fffffe,#145faa 70%);



    scale: 1.0;
    opacity: 0;
}


#second-float{
    width: 0.4vw;
    height: 0.4vw;
    position: absolute;
    bottom: 0%;
    right:4%;
    border: 2px rgb(157, 162, 170) solid inset;
    box-shadow: 2px -9px 8px #cac4bd inset;
    box-shadow: 1px 1px 5px #1c4e81;
    background: linear-gradient(180deg, #fffffe,#1d4165 30%);
    background: linear-gradient(180deg, #fffffe,#145faa 70%);



    scale: 1.0;
    opacity: 0;
}


#fourth-float{
    width: 0.4vw;
    height: 0.4vw;
    position: absolute;
    bottom: 0%;
    right:2%;
    border: 2px rgb(157, 162, 170) solid inset;
    box-shadow: 2px -9px 8px #cac4bd inset;
    box-shadow: 1px 1px 5px #1c4e81;
    background: linear-gradient(180deg, #fffffe,#1d4165 30%);
    background: linear-gradient(180deg, #fffffe,#145faa 70%);
    scale: 1.0;
    opacity: 0;

}

#third-float{
    width: 0.47vw;
    height: 0.47vw;
    position: absolute;
    bottom: 0%;
    left:3.2%;
    border: 2px rgb(157, 162, 170) solid inset;
    box-shadow: 2px -9px 8px #cac4bd inset;
    box-shadow: 1px 1px 5px #1c4e81;
    background: linear-gradient(180deg, #fffffe,#1d4165 30%);
    background: linear-gradient(180deg, #fffffe,#145faa 70%);

    scale: 1.0;
    opacity: 0;
}

#fifth-float{
    width: 0.45vw;
    height: 0.45vw;
    position: absolute;
    bottom: 0%;
    left:1.8%;
    border: 2px rgb(157, 162, 170) solid inset;
    box-shadow: 2px -9px 8px #cac4bd inset;
    box-shadow: 1px 1px 5px #1c4e81;
    background: linear-gradient(180deg, #fffffe,#1d4165 30%);
    background: linear-gradient(180deg, #fffffe,#145faa 70%);

    scale: 1.0;
    opacity: 0;
}

#sixth-float{
    width: 0.7vw;
    height: 0.7vw;
    position: absolute;
    bottom: 0%;
    left:2.3%;
    border: 2px rgb(157, 162, 170) solid inset;
    box-shadow: 2px -9px 8px #cac4bd inset;
    box-shadow: 1px 1px 5px #1c4e81;
    background: linear-gradient(180deg, #fffffe,#1d4165 30%);
    background: linear-gradient(180deg, #fffffe,#145faa 70%);

    scale: 1.0;
    opacity: 0;
} */











/* ----------------------------------------------------- */


.introdiv{

    /* clip-path: circle(20rem at right center); */
    /* shape-outside: circle(5rem); */
}

.introinnerdiv div{
    /* padding: 1rem; */
}

#firstin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    /* box-shadow: 0px 1px 1px rgb(245, 242, 242); */
}

#firstin div h2{
    font-family: "ubuntu";
    margin: 0;
    font-size: 4rem;
    padding: 0rem 1rem 0 16px; 
    font-weight: bolder;
    color: rgb(24,19,32);
    color:#141B35;
    color: #403C30;
    color:#142840;
    color: #0E1D32;
    color: #987A21;
    color:#6497B1;
    color: #0E1D32;
    color:#0c4244;
    color: #0E1D32;
    color: #1d4165;



    /* color: #EDF2F1;
    color:#DBEBE8; */
    /* color: #59708A; */

}

#gitlink{
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: fit-content;
    /* margin-left: 18px; */
    gap: 0.5rem;
    opacity: 0;
    background-color: #fffffe;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 3px 3px 5px rgb(104, 98, 98) inset; */
    /* box-shadow: 1px 1px 5px #403C30 inset; */

    
}

#gitlink a:first-child{
    height: 25px;
    width: 25px;
}
#gitlink a:last-child{
    height: 35px;
    width: 35px;
}

.gitlinkmain{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gitlink a:hover{
    scale: 1.1;
}

#intro{
    flex: 2 0 0;
    padding-right: 1rem;
}

#introtext{
    padding: 0.5rem 1rem 0rem 1rem;
    line-height: 20px;
    font-size: 18px;
    font-family: "lora";
    font-variation-settings: 'wght' 500;
    color: #808080;
    color: #5f5f5f;
    color: #283B34;
    color: #0E1D32;

    
    /* color: #EDF2F1;
    color:#DBEBE8; */




    /* width: 50%; */
    opacity: 0;

}

#grizzly{
    flex: 1 0 0;
    min-width: 10rem;
    max-width: 12rem;
    /* padding: 1rem; */
}

#grizzly img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}




/* ------------------------------------------- */
/*  */
h1{
    margin: 0;
    padding: 1rem 0;
    font-size: 5rem;
    font-family: "ubuntu";
}

h2{
    font-family: "ubuntu";
    margin: 0;
    font-size: 2rem;
}

h3{
    font-size: 2rem;
    /* border-bottom: 1px white solid; */
    width: fit-content;
    margin: 0;
}


/*  */
/*  */
/*  */
main{
    background-color: #FAF9F6;
    /* position: relative; */
    width: 100%;
    padding: 0 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    /* z-index: 97; */
    background-color: #fffffe;
    background: linear-gradient(180deg, #fffffe 55%,#CFD6DC);


    padding: 0 10%;
    


    position: relative;
    z-index: 1;

}

.content{
}

/* --------------------------------------------------- */
/* About Me */
/*  */
#skills{
    background-color: #ffffff;
    /* background-color: #040c21; */

    /* box-shadow: 1px 1px 5px rgb(206, 206, 206); */

    border-radius: 5px;
    /* box-shadow: 1px 1px 3px rgb(182, 182, 182); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    flex-wrap:wrap;
    /* gap: 1rem; */
    width: 65%;
    padding: 2rem;
    height: fit-content;
    box-shadow: 1px 1px 5px rgb(206, 206, 206);
    border: 1px solid rgb(207, 210, 221);
    z-index: 99;
}

#aboutmepicdiv{
    /* max-width: 300px;
    max-height: 290px;
    min-width: 250px;
    min-height: 240px; */
    max-width: 300px;
    max-height: 290px;

}

#aboutmepicdiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}

#skills div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    flex: 1 0 0;
    /* border: 1px #EDF2F1 solid; */
    /* box-shadow: 2px 2px 2px #DBEBE8; */
    
}


#skills div:nth-child(2){
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0rem;
    flex: 1 0 0;
    /* flex-wrap: wrap; */
    /* max-height: 250px; */
}

#skills div:nth-child(2) h4:nth-child(1){
    padding: 0 1rem 0 1rem;
    color: #e94822;
    color: #1d4165;

/* color: #EDF2F1;
color: #288E91; */


color: #1d4165;
    
    


    /* color: rgb(255,146,72); */
    margin: 1rem 0 0 0;
    font-size: 2rem;
}

#skills div:nth-child(2) h4:nth-child(2){
    margin: 0;
    padding: 9px 1rem 9px 1rem;
    font-weight: bold;
    color: #0E1D32;
    
    /* color: #EDF2F1;
    color:#DBEBE8; */
    /* line-height: 1.5rem; */
}

#skills div:nth-child(2) p{
    font-size: 1rem;
    font-size: 16px;
    padding: 0 1rem 1rem 1rem;
    /* line-height: 1rem; */
    font-family: "lora";
    font-variation-settings: 'wght' 500;
    color: #5f5f5f;
    color: #454545;
    color: #0E1D32;
    /* color: #EDF2F1;
    color:#DBEBE8; */
    color: #0E1D32;

}

#skills div:nth-child(3){
    flex: 1 0 0;
}

/* ---------------- */
/* new */

#aboutme{
    background-color: #ffffff;
    /* background-color: #1d4165; */
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap:wrap;
    /* gap: 1rem; */
    width: 85%;
    padding: 2rem;
    height: fit-content;
    box-shadow: 1px 1px 5px rgb(206, 206, 206);
    z-index: 99;
}

#aboutme h3{
    color:#0d2754;
    color:#185557;
    color:#0d2754;
    color: #0E1D32;
    color: #1d4165;

    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}

#aboutme h4{
    color:#0d2754;
    color: #0E1D32;

    /* color: #fffffe;
    color: #CFD6DC; */
    margin: 0;
    padding: 0rem 0rem 1rem 1rem;
}

#aboutme > div{
    box-shadow: 1px 1px 5px rgb(206, 206, 206);
    display: flex;
    justify-content: space-around;

    padding: 1rem;
}

/* first div */
#aboutme > div div:nth-child(1){
    /* background-color: burlywood; */
    flex: 1 0 0;
    padding: 1rem;
}

#aboutme > div div:nth-child(1) h4{
    margin: 0;
    padding: 0;
    padding: 1rem 0rem;
    color: #0E1D32;
}

#aboutme > div div:nth-child(1) p{
    color: orchid;
    color: #0E1D32;
}

#aboutme > div div:nth-child(1) img{
    float: right;

}







/* second div */
#aboutme > div div:nth-child(2){
background-color: wheat;
flex: 1 0 0;
padding: 1rem;


}





/* ------------------------------------------ */
/* languages */
#language-section{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(206, 206, 206);
    border: 1px solid rgb(207, 210, 221);
}

.language-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#skillrow:after{
    content: "";
    background: black;
    position: absolute;
    left: 2rem;
    top: 22%;
    width: 1px;
    height: 50%;
}

.language-start h4{
    margin: 0;
    text-align: center;
    
    
    color: #0E1D32;
    
    
}

.language-start button{
    padding: 1rem;
    background-color: #0d2754;
    color: #fffffe;
}

#language-section h3{
    margin: 0;
    /* text-align: center; */
    font-size: 2rem;
    /* background-color: #0d2754; */
    /* border-bottom: 1px #288E91 solid; */
    color:#0d2754;
    color: #1d4165;
    
}




#skillgrid{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr); */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;

}

#skillgrid:hover{
    /* box-shadow: 1px 1px 5px rgb(244, 244, 244); */
}

#skillrow{
    position: relative;

    display: flex;
    justify-content: end;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 0rem;
    /* background-color: #3A483D; */
    /* border-radius: 10px; */
    /* background-color: #fffffe; */
    width: 100%;

    /* border-left: 1px black solid; */
}

#borderskill{
    border-right: 1px black solid;
    padding: 0 1rem 0 1rem;
}

.skillicon{
    /* padding: 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* flex-grow: 1; */
    /* flex-basis: 1rem; */
    
    /* border: 1px #8b8bbc solid; */
}

.skillicon:hover{
    scale: 1.1;
}

/* logo animation */

.logoclass{
    opacity: 0;
    scale: 0.9;
    transform: translateY(-100px);
}


/* ------------------------------------------- */





/* --------------------------------- */
/* skills harvard */
#skillsharvard{
    background-color: #ffffff;
    gap: 1rem;
    /* box-shadow: 1px 1px 5px rgb(206, 206, 206); */

    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 5px rgb(206, 206, 206); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap:wrap;
    /* gap: 1rem; */
    /* width: fit-content; */
    width: 85%;
    /* padding: 2rem; */
    flex-wrap: wrap;
}

#skillsharvard > h3{
    color: #1d4165;
}



#skillsharvard > div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* flex-shrink: 1; */
    /* min-width: 0; */

}

#skillsharvard > div > div{
    box-shadow: 1px 1px 5px rgb(128, 128, 204);
    background-color: #06192b;
    filter: brightness(75%);
    position: relative;
    /* opacity: 0.2; */
    /* z-index: 34; */
}

.picture-div{
    
}

#skillsharvard img{
    /* opacity: 0.8; */
    /* z-index: 10; */
    /* min-height: 100px;
    min-width: 100px;
    max-height: 250px;
    max-width: 250px; */
    width: 100%;
    height: 25vh;
    /* max-width: 20vw; */
    min-width: 200px;

}



/* turn text opacity up */
#skillsharvard > div div:hover .harvard-text{

    opacity: 1;
    /* color: blueviolet; */
    /* filter: blur(50%); */
    /* filter: brightness(100%); */
}

#skillsharvard > div div:active .harvard-text{
    opacity: 1;
}



.harvard-text{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    
    /* filter: brightness(0%); */
    /* z-index: 12; */
    background: rgba(0, 0, 0, 0.6);

}
.harvard-text h4{
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    color: white;
    font-size: 1.5rem;

}

.harvard-text p{
    margin: 0;
    padding: 1rem;
    color: white;

}

#skillsharvard > div div:hover .work-image{
    filter: brightness(40%);
    filter: blur(3px);
}





#harvard{
    padding: 1rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    text-align: center;

}

#harvard div{
    /* padding: 1rem; */
    color:#0d2754;
    color:#0d2754;
}

#skillsharvard div div:nth-of-type(2){
    padding: 1rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    text-align: center;

}
#skillsharvard div div:nth-of-type(3){
    padding: 1rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    text-align: center;
}

/* ------------------------------------- */








/* --------------------------------------- */
/* Project Section */
#projects01{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


#projects01 h3:nth-child(1){
    font-size: 2rem;
    color: #1d4165;
    padding: 0;
}

#projects01 h3:nth-child(2){
    font-size: 1rem;
    color: #0E1D32;
    margin: 0;
    padding: 0;
}

.linkcheckerchild h4{
    color:#227b68;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0;
}

.linkcheckerchild p{
    text-align: center;
    font-family: "lora";
    font-variation-settings: 'wght' 500;
    color: #5f5f5f;
    color: #454545;
    font-size: 16px;


}

.pylogo{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.linkcheckicon:hover{
    scale: 1.1;
}



#gitcode{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#gitcode div:hover{
    scale: 1.1;
}

#gitcode2{
    display: flex;
    justify-content: center;
}

#gitcode2:hover{
    scale: 1.1;
}

#gitcode2 span{
    display: flex;
    align-items: center;
}

#playnow{
    text-decoration: none;
    font-size: 1rem;
}
#playnow:hover{
    border-bottom: 1px black solid;
}




.proj{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(206, 206, 206);
    box-shadow: 1px 1px 5px rgb(143, 143, 143);

    border: 1px solid rgb(188, 191, 200);
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

#asteroids{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(143, 143, 143);
    border: 1px solid rgb(188, 191, 200);
    padding: 1rem;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    
}

#projvid{
    min-width: 250px;
    min-height: 250px;
    flex-basis: 55%;
    padding: 1rem;
    flex-grow: 1;
}

#asteroiddesc{
    flex-basis: 45%;
    padding: 1rem;
    flex-grow: 1;
}



#projvid video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#projdesc{
    flex-grow: 1;
    padding: 1rem;
    min-width: 220px;
    flex-basis: 45%;
}

#linkimg{
    /* max-width: 270px; */
    /* max-width: 270px;

    max-height: 260px;
    min-width: 200px;
    min-height: 190px; */
    min-width: 250px;
    flex-basis: 55%;
    padding: 1rem;
    flex-grow: 1;
    
    /* flex: 0 1 100px; */
}

#linkimg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}






/*  */
/* ------------------------------------------------- */
/* Contact form */
/*  */
#goals{
    display: flex;
    box-shadow: 1px 1px 5px rgb(206, 206, 206);
    background-color: white;

    border-radius: 5px;
    padding: 1rem;
    max-width: 100%;
    margin-bottom: 2rem;
}

#goals > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#goals div h4{
    padding: 0;
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
    color: #e94822;
    color: #1d4165;
    
}

#contactform{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    /* padding: 1rem; */

}

form input{
    padding: 10px;
    width: 48%;
    border-radius: 5px;
    border: 1px #2c2d34 solid;
    font-size: 1rem;
    color: #2c2d34;
    background-color: #FAF9F6;

}

form textarea{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px #2c2d34 solid;
    height: 5rem;
    color: #2c2d34;
    resize: none;
    background-color: #FAF9F6;

}

form button{
    width: 100%;
    padding: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FAF9F6;
    border: 1px black solid;

    color: #2c2d34;
}

form button:hover{
    background-color: #e94822;
    background-color: #1d4165;

    border: 1px white solid;
    color: white;
    cursor: pointer;
}



/* ---------------------- */
/* Footer */
footer{

    background-color:  rgb(255, 255, 255);
    background-color: #CFD6DC;

    color: blue;

    display: flex;
    padding: 1rem;
    box-shadow: 0px -5px 1px rgb(75, 70, 70);
    /* border-top: 1px rgb(206, 206, 206) solid; */
    box-shadow: 1px -1px 5px rgb(206, 206, 206);
    position: relative;


}



footer p{
}

footer div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer div p{
    font-family: "lora";
    font-variation-settings: 'wght' 500;
}

footer div span{
    color: #e94822;
    color:#185557;
    color:#227b68;


}


/*  */
/* media queries */
/*  */

/*  */
@media screen and (max-width: 1375px){
    #skills{
        width: 85%;
    }

    #language-section{
        flex-direction: column;
        gap: 3rem;
    }

    #skillrow{
        justify-content: center;
    }

    #skillrow:after{
        width: 0px;
    }

    .language-start{
        position: relative;
    }

    .language-start::after{
        content: "";
    background: black;
    position: absolute;
    left: 25%;
    bottom: -2rem;
    /* width: 1px;
    height: 5rem; */
    width: 50%;
    height: 1px;
    /* transform: rotate(90deg); */
    }
}

/*  */
@media screen and (max-width: 1194px){


    .introdiv{
        /* justify-content: center; */

    }

    #skillrow{
        justify-content: center;
    }


    /* INTRO */
    .introinnerdiv{
        /* padding: 1rem 1rem; */
    }

    /* CIRCLES */

    /*  */
    #second-circle{
        /* transform: translate(50px,-50px); */
        top: 60%;
        right: 33%;
    }

    /* #first-circle{
        display: none;
    }
    
    #third-circle{
        display: none;
    }
    #fifth-circle{
        display: none;
    }
    #sixth-circle{
        display: none;
    } */
    /* --------------------- */



    #borderskill{
        border: none;
        border-bottom: 1px black solid;
    }
    
    #skillgrid{
        padding: 0;
    }

    #projects01{
        width: 90%;
    }

    #skills{
        width: 90%;
    }
}
/*  */
@media screen and (max-width: 1000px){

    /* Shift circles down  */
    /* CIRCLES */

    #first-circle{
        transform: translate(0, 50px);

    }
    #inside-third{
        transform: translate(0, 100px);
    }

    /* change */
    #second-circle{
        /* transform: translate(100px,-100px); */
        top: 60%;
        right: 33%;

    }

    

    #third-circle{
        transform: translate(0, -15px);
    }
    #fifth-circle{
        transform: translate(0, -15px);
    }

    /* change */
    #sixth-circle{
        /* transform: translate(0, 50px); */
    }



    .introinnerdiv{
        /* width: 60%; */
    }
    /* Make height auto once smaller screen. */
    .introdiv{
        /* height: auto; */
        /* margin: 5rem 0; */
    }

    /* center intro content once smaller screen */
    #intro h2,div{
        /* text-align: center; */
    }

    .proj{
        
        align-items: normal;
    }

    #skills{
        flex-direction: column;
        align-items: center;
    }

    #skillsharvard{
        align-items: center;
    }

}

@media screen and (max-width: 915px){
    #second-circle{
    display: none;
    }
}



/* Change form width to 100% once 835px width. */
@media screen and (max-width: 835px){
    form input{
        width: 100%;
    }

    .introinnerdiv{
        /* width: 70%; */
    }

    #third-circle{
        transform: translate(0, -50px);
    }

    
}

@media screen and (max-width: 750px){

    #intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introinnerdiv{
    padding: 1rem;    
}

    /* center intro content once smaller screen */
    #intro h2,div{
        text-align: center;
    }

    .introdiv{
        justify-content: center;

    }

    #first-circle{
        transform: translate(0, 50px);
        height: 30vw;
        width: 30vw;

    }
    #inside-third{
        transform: translate(0, 100px);
        right: 190px;
        height: 9vw;
        width: 9vw;
    }
    #fifth-circle{
        transform: translate(-20px, -80px);
    }
    
    /* other circle area */
    #third-circle{
        transform: translate(0, -15px);
        left: 20px;
        top: 70%;
        background: linear-gradient(185deg, #fffffe,#1d4165 70%);

        
    }
    
    #sixth-circle{
        /* transform: translate(0, 50px); */
        left: 14%;
        top: 75%;
        height: 7vw;
        width: 7vw;
        background: linear-gradient(185deg, #fffffe,#1d4165 70%);

    }

    /* other cluster */
    #seventh-circle{
        opacity: 1;
        top: 23%;
        left: 11%;
        z-index: 15;
    }
    #eigth-circle{
        opacity: 1;
        top: 17%;
        left: 14%;
    }



    #skills{
        width: 100%;
    }


    .introinnerdiv{
        /* width: 75%; */
    }

    #skillrow{
        justify-content: center;
    }

    #skillgrid{
        flex-direction: column;
    }

    .stacker{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 700px){
    #inside-third{
        right: 170px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -90px);
    }

}

@media screen and (max-width: 625px){
    #inside-third{
        right: 160px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -100px);
    }

}



@media screen and (max-width: 600px){


    #inside-third{
        right: 155px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -110px);
    }


    

    #sixth-circle{
        /* transform: translate(0, 50px); */
        left: 12%;
        top: 74%;
        height: 7vw;
        width: 7vw;
        background: linear-gradient(185deg, #fffffe,#1d4165 70%);

    }

    /* other cluster */
    #seventh-circle{
        opacity: 1;
        top: 22%;
        left: 12%;
        z-index: 15;
    }
    




    html{
        scroll-padding: 8rem;
    }

    #firstin div h2{
        /* font-size: 2rem; */
    }

    .first{
        flex-grow: 1;
        flex-shrink: 1;
    }

    #navbar div{
        padding: 2%;
        flex-grow: 1;
    }

    nav h4{
        /* display: none; */
        padding: 2%;
    }

    nav{
        padding: 1rem;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    #navbar{
        justify-content: center;
        align-items: center;
    }



    

    .introinnerdiv{
        width: 75%;
    }

    .introdiv{
        margin-bottom: 3rem;
    }

    #firstin{
        padding: 0;
    }

    #skills{
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutmepicdiv{
        padding: 1rem;
        flex-grow: 1;
    }

    #projects01{
        width: 100%;
    }

    #grizzly img{
        width: 175px;
        /* min-height: 200px; */

    }

    #grizzly{
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 3px rgb(233, 233, 233);
    }

    
    #gitlink{
        padding: 1rem 1rem 1rem 1rem;
        display: flex;
        justify-content: center;
    }

    #skillgrid{
        align-items: center;
        width: 90%;
    }

    #skillrow{
        justify-content: center;

    }


}

@media screen and (max-width: 576px){


    #inside-third{
        right: 140px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -120px);
    }
}


@media screen and (max-width: 550px){

    /* #inside-third{
        right: 135px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -155px);
    } */
    /* .first{
        flex-shrink: 1;
    } */


    nav h4{
        /* display: none; */
        padding: 2%;
    }

    nav{
        /* justify-content: center; */
        /* align-items: center; */
        /* flex-wrap: wrap; */
        gap: 1rem;
    }

    nav a{
        color: #fffffe;
    }

    nav a:hover{
        /* border-bottom: 1px #1d4165 solid; */
        /* border-bottom: none; */
        color: green;
        scale: 1.0;
    }

    #regnav{
        display: none;
    }

    /* column flex */
    #smalldropdown{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        gap: 0;
    }

    /* flex for row of carter.dev and menu */
    .firstbar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .special{
        /* background-color: rgb(33, 87, 134); */
        /* flex-shrink: 1; */
        width: fit-content;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .special h4{
        text-align: left;
    }

    #dropdown{
        display: none; 
        border-top: 1px #1d4165 solid;
        background-color: #1d4165;
        
        background-color: white;
        background-color: #CFD6DC;
        background-color: #1d4165;


        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    } 

    #dropdown div{
        width: 100%;
        padding: 2%;
        display: flex;
        align-items: center;
        text-align: left;
        position: relative;
    }

    /* get rid of highlight background when touching anchor link */
    #dropdown div a{
        /*  */
        -webkit-tap-highlight-color: transparent;
    }

    #dropdown div a::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #dropdown div:active{
        background-color: #29537d;
        
    }
    


    .navbar{
        flex: 0 0 100px;
    }

    .menuicon{
        
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #c5c5c5; */
    }

    .menuicon:hover{
        background-color: #c5c5c5;
        background-color: #CFD6DC;


    }


}

@media screen and (max-width: 500px){

    #intro{
        padding: 0;
    }

    #language-section{
        width: 100%;
    }

    .skillicon{
        padding: 0.5rem;
    }

    #inside-third{
        right: 130px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -125px);
    }
}

@media screen and (max-width: 500px){

    #inside-third{
        right: 130px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -135px);
    }

}

@media screen and (max-width: 465px){

    #inside-third{
        right: 120px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -140px);
    }

    #seventh-circle{
        top: 21%;
        left: 12%;
        z-index: 15;
    }

}

@media screen and (max-width: 465px){
    #inside-third{
        right: 110px;
        height: 9vw;
    } 


}

@media screen and (max-width: 395px){

    #firstin div h2{
        font-size: 3rem;
    }

    #inside-third{
        right: 100px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -150px);
    }
}

@media screen and (max-width: 365px){

    #inside-third{
        right: 90px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -160px);
    }

    #seventh-circle{
        top: 21%;
        left: 13%;
        z-index: 15;
    }

    #sixth-circle{
        /* transform: translate(0, 50px); */
        left: 14%;
        top: 73%;
        height: 7vw;
        width: 7vw;
        background: linear-gradient(185deg, #fffffe,#1d4165 70%);

    }

}

@media screen and (max-width: 365px){
    #inside-third{
        right: 85px;
        height: 9vw;
    } 
    #fifth-circle{
        transform: translate(-20px, -165px);
    }

    #seventh-circle{
        top: 20%;
        left: 13%;
        z-index: 15;
    }

    #sixth-circle{
        /* transform: translate(0, 50px); */
        left: 14%;
        top: 73%;
        height: 7vw;
        width: 7vw;
        background: linear-gradient(185deg, #fffffe,#1d4165 70%);

    }

}




















/*  */
/* video slide... not used.... */
/* ------------------------------------------------- */
/*  */
#projects{
    /* background-color: rgb(61, 129, 189); */
    background-color: #ffffff;
    border: 1px #fafafa solid;
    border-radius: 25px;
    box-shadow: 1px 1px 10px #242424;
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
}



.projectsmaindiv{
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/*  */
.panelcontainer{
    position: relative;
    max-width: 24rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.panels{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 1px 1px 5px white;
    border-radius: 10px;
    
}

.panels iframe{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.panels img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slideranchor{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.slideranchor a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slideranchor a:hover{
    opacity: 100;
    background-color: rgb(24, 204, 24);
}


.videolink{
    width: 100%;
    height: 100%;
    border: none;
}
/* ---------------------------------------- */






/*  */
/* Animations */

.projectanimation{
    /* transition: transform 3s ease; */
    /* animation: titleslide 3s ease-in forwards; */
    /* display: none; */
}

@keyframes titleslide{

    0% {
        transform: translateX(100px);
        opacity: 0;
    }


    100% {
        transform: translateX(0px);
        opacity: 1;

    }

}


.animationcall{
    /* transform: translateX(100%); */
    animation: titleslide 2s ease-in forwards;
    /* animation-fill-mode: ; */

}

.animationcall02{
    /* transform: translateX(100%); */
    animation: titleslide 2s ease-in forwards;
    animation-delay: 2s;
    /* animation-fill-mode: ; */

}


@keyframes logoshow{
    100% {
        scale: 1;
        opacity: 1;
        transform: translateY(0px);

    }
}


.logoanimation{
    animation: logoshow 2s ease-in forwards;
    animation-delay: 2s;

}


/* circle intro animation */
 /* @keyframes Intro{

    0%{
        clip-path: circle(0.1rem at center);
    } 
    10%{
        clip-path: circle(2rem at center);
    }
    15%{
        clip-path: circle(3rem at center);
    }
    20%{
        clip-path: circle(4rem at center);
    } 


    100%{
        clip-path: circle(25rem at center);
    }
}  */

.intro-animation{
    animation: Intro 3s ease-in forwards;
}


/* Breathing animation for circles... */
@keyframes Breathe{

    0%{
        scale: 1.0;
        /* background-color: rgb(182, 142, 142); */
    }

    100%{
        scale: 1.05;
    }

    

    /* 10%{
        scale: 1.005;
        background-color: rgb(188, 123, 123);

    }

    20%{
        scale: 1.01;
        background-color: rgb(193, 85, 85);

    }

    30%{
        scale: 1.015;
        background-color: rgb(198, 55, 55);
    }

    40%{
        scale: 1.02;
        background-color: rgb(198, 55, 55);
    }
    50%{
        scale: 1.025;
        background-color: rgb(198, 55, 55);
        opacity: 0.1;
    }
    60%{
        scale: 1.02;
        background-color: rgb(198, 55, 55);
    }
    70%{
        scale: 1.015;
        background-color: rgb(198, 55, 55);
    }
    80%{
        scale: 1.01;
        background-color: rgb(198, 55, 55);
    }
    90%{
        scale: 1.005;
        background-color: rgb(198, 55, 55);
    } */

    
}
/* ^^^^^^^^^^^^^^ */
.breathing-animation{
    animation-name: Breathe;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-direction:alternate;
    animation-iteration-count: 2;
    /* animation: Breathe 5s ease-in-out forwards; */
}


/* ------------------------------ */
/* other breathe animations translation */
@keyframes breatheMove{

    0%{
        scale: 1.0;
        transform: translate(0px,0px);
    }

    100%{
        scale: 1.07;
        transform: translate(-5px,5px);

    }
}

.breathing-animation-2{
    animation-name: breatheMove;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-direction:alternate;
    animation-iteration-count: 2;
}

/* ------------------- */
@keyframes breatheMove2{
    0%{
        scale: 1.0;
        transform: translate(0px,0px);
    }

    100%{
        scale: 1.08;
        transform: translate(-5px,-5px);

    }
}

.breathing-animation-3{
    animation-name: breatheMove2;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-direction:alternate;
    animation-iteration-count: 2;
}
/* ----------------------- */



@keyframes intro{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.home-header{
    animation: intro 2s ease-in forwards;
}

.home-text{
    animation: intro 2s ease-in forwards;
    animation-delay: 1s;
}

.home-logos{
    animation: intro 2s ease-in forwards;
    animation-delay: 2s;
}


/* bubbles animation */

@keyframes bubbleAnimation{

    0%{
        transform: translate(0,-25vh);
        opacity: 1;
        /* scale: 1; */
    }

    /* 25%{
        opacity: 1;
        transform: translate(0,-100vh);
    } */

    100%{
        /* scale: 0; */
        opacity: 0.5;
        transform: translate(0,-200vh);
    }
}

.bubble-animation{
    /* animation-name: bubbleAnimation;
    animation-duration: 25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-direction:normal;
    animation-iteration-count: 1; */
    animation: bubbleAnimation 20s ease-in-out backwards, bubbleMovement 5s ease-in-out forwards;
}

.bubble-movement{
    animation: bubbleMovement 5s ease-in-out forwards;
}

@keyframes bubbleMovement{
    0%{
        transform: translateX(-25px);
        /* opacity: 1; */
    }
    100%{
        transform: translateX(25px);
        /* opacity: 0; */

    }

}
